<div class="page-body">
    <div class="row">
        <div class="col-xs-12" style="height: 70px">
            <div class="well with-header" style="min-height: 180px;">
                <div class="header bordered-blueberry">Basic Search</div>
                <div>
                    <div class="col-lg-12">
                        <form>
                            <div class="col-md-3 col-sm-4">
                                <input class="form-control" placeholder="Node Name" />
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <input class="form-control" placeholder="STAN" />
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <input class="form-control" placeholder="Hidden Pan" />
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <input class="form-control" placeholder="Amount" />
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <input class="form-control" placeholder="Response Code" />
                            </div>
                            <div class="col-md-4 col-sm-5">
                                <input class="form-control" placeholder="Transaction Date" />
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <input class="form-control" placeholder="MTI" />
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <input class="form-control" placeholder="Receiving Institution Code" />
                            </div>
                            <div id="advanced_search">
                                <div class="col-md-3 col-sm-4">
                                    <input class="form-control" placeholder="Retrival Reference" />
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <input class="form-control" placeholder="Acquiring Institution Code" />
                                </div>

                                <div class="col-md-3 col-sm-4">
                                    <input class="form-control" placeholder="Type" />
                                </div>
                                <div class="col-md-2 col-sm-3">
                                    <input class="form-control" placeholder="Service Code" />
                                </div>
                                <div class="col-md-4 col-sm-3">
                                    <input class="form-control" placeholder="Card Acceptor Name Location" />
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <input class="form-control" placeholder="Transaction Desc" />

                                </div>
                            </div>
                            <div>
                            </div>
                            <button class="btn bold-wine"><i class="fa fa-search"></i>Search</button>
                            <i id="toggleIcon" class="fa fa-angle-double-down" onclick="toggleSearch(this)"></i>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Node Name</th>
                            <th>Response Code</th>
                            <th>Transaction Duration</th>
                            <th>Receiving Institution ID</th>
                            <th>Hidden Pan</th>
                            <th>Terminal Id</th>
                            <th>Retrieval Reference</th>
                            <th>Acquiring Institution ID Code</th>
                            <th>Type</th>
                            <th>MTI</th>
                            <th>ServiceCode</th>
                            <th>Iso Account2</th>
                            <th>IsReversed</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let t of transactions">
                        <tr>
                            <td>{{t.NodeName}}</td>
                            <td>{{t.ResponseCode}}</td>
                            <td>{{t.TransactionDuration}}</td>
                            <td>{{t.IsoReceivingInstitutionID}}</td>
                            <td>{{t.HiddenPan}}</td>
                            <td>{{t.TerminalId}}</td>
                            <td>{{t.IsoRetrievalReference}}</td>
                            <td>{{t.IsoAcquiringInstitutionIDCode}}</td>
                            <td>{{t.Type}}</td>
                            <td>{{t.MTI}}</td>
                            <td>{{t.ServiceCode}}</td>
                            <td>{{t.IsoAccount2}}</td>
                            <td>{{t.IsReversed}}</td>
                            <td>{{t.Amount}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>