<div class="page-body">
    <div class="row">
        <div class="col-xs-12" style="height: 70px">
            <div class="well with-header" style="min-height: 180px;">
                <div class="header bordered-blueberry">Basic Search</div>
                <div>
                    <div class="col-lg-12">
                        <div>
                            <div class="col-md-3 col-sm-4">
                                <input class="form-control" [(ngModel)] ="transactionLog.NodeName" placeholder="Node Name" name="Node Name" />
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <input class="form-control" [(ngModel)] ="transactionLog.STAN" placeholder="STAN" name="STAN" />
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <input class="form-control" [(ngModel)] ="transactionLog.HiddenPan" placeholder="Hidden Pan"  name="Hidden Pan" />
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <input class="form-control" [(ngModel)] ="transactionLog.Amount" placeholder="Amount" name="Amount" />
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <input class="form-control" [(ngModel)] ="transactionLog.ResponseCode" placeholder="Response Code"  name="Response Code" />
                            </div>
                            <div class="col-md-4 col-sm-5">
                                <div class="input-daterange input-group" id="datepicker">
                                    <i class="date">
                                        <input type="text" class="input-sm form-control" dirDatetime placeholder="Start Date" [(ngModel)]="startDate" name="startDate" />
                                    </i>
                                    <span class="input-group-addon">to</span>
                                    <i class="date">
                                        <input type="text" class="input-sm form-control" dirDatetime placeholder="End Date" [(ngModel)]="endDate" name="endDate" />
                                    </i>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <input class="form-control" [(ngModel)] ="transactionLog.MTI" placeholder="MTI" name="MTI" />
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <input class="form-control" [(ngModel)] ="transactionLog.Iso_ReceivingInstitutionID" placeholder="Receiving Institution Code" name="Receiving Institution Code" />
                            </div>
                            <div *ngIf="!isBasic" id="advanced_search">
                                <div class="col-md-3 col-sm-4">
                                    <input class="form-control" [(ngModel)] ="transactionLog.Iso_RetrievalReference" placeholder="Retrival Reference" name="Retrival Reference" />
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <input class="form-control" [(ngModel)] ="transactionLog.Iso_AcquiringInstitutionIDCode" placeholder="Acquiring Institution Code" name="Acquiring Institution Code" />
                                </div>

                                <div class="col-md-3 col-sm-4">
                                    <input class="form-control" [(ngModel)] ="transactionLog.Type" placeholder="Type"  name="Type"/>
                                </div>
                                <div class="col-md-2 col-sm-3">
                                    <input class="form-control" [(ngModel)] ="transactionLog.ServiceCode" placeholder="Service Code" name="Service Code" />
                                </div>
                                <div class="col-md-4 col-sm-3">
                                    <input class="form-control" [(ngModel)] ="transactionLog.Iso_CardAcceptorNameLocation" placeholder="Card Acceptor Name Location" name="Card Acceptor Name Location" />
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <input class="form-control" [(ngModel)] ="transactionLog.Iso_CardAcceptorNameLocation" placeholder="Transaction Desc" name="Transaction Desc"/>

                                </div>
                            </div>
                            <div>
                            </div>
                            <a href="#" (click)="toggleSearch()">
                                <i *ngIf="isBasic" class="fa fa-angle-double-down">Show More</i>
                                <i *ngIf="!isBasic" class="fa fa-angle-double-up">Show Less</i>
                            </a>
                            <button class="btn bold-wine" (click)="search(transactionLog, 1, pageSize, startDate, endDate)"><i class="fa fa-search"></i>Search</button>
                        </div>
                        <div style="margin-top: 15px; clear:both" >
                            <div class="col-sm-4" style="margin: 0 15px 15px;">
                                <div class="form-horizontal">
                                    <span>Page Index:</span> 
                                    <div >
                                        <input type="number" min="1" class="form-control col-lg-6" [(ngModel)]="pageSize" />
                                    </div>
                                </div>
                            
                                <div class="form-horizontal">
                                    <span>Page No:</span> 
                                    <div>
                                        <input type="number" class="form-control col-lg-6" [(ngModel)]="page" min="1" max="{{max}}">
                                     </div>
                                </div>
                                <div>
                                    <button (click)="search(transactionLog, page, pageSize, startDate, endDate)" class="btn btn-default btn-goto">Go to Page</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Node Name</th>
                            <th>Response Code</th>
                            <th>Transaction Duration</th>
                            <th>Receiving Institution ID</th>
                            <th>Hidden Pan</th>
                            <th>Terminal Id</th>
                            <th>Retrieval Reference</th>
                            <th>Acquiring Institution ID Code</th>
                            <th>Type</th>
                            <th>MTI</th>
                            <th>ServiceCode</th>
                            <th>Iso Account2</th>
                            <th>IsReversed</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr [hidden]="!transactions" *ngFor="let t of transactions">
                            <td>{{t.NodeName}}</td>
                            <td>{{t.ResponseCode}}</td>
                            <td>{{t.TransactionDuration}}</td>
                            <td>{{t.IsoReceivingInstitutionID}}</td>
                            <td>{{t.HiddenPan}}</td>
                            <td>{{t.TerminalId}}</td>
                            <td>{{t.IsoRetrievalReference}}</td>
                            <td>{{t.IsoAcquiringInstitutionIDCode}}</td>
                            <td>{{t.Type}}</td>
                            <td>{{t.MTI}}</td>
                            <td>{{t.ServiceCode}}</td>
                            <td>{{t.IsoAccount2}}</td>
                            <td>{{t.IsReversed}}</td>
                            <td>{{t.Amount}}</td>
                        </tr>
                        <tr *ngIf="!transactions">
                            <td class="text-centered">No data received</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th><button class="btn btn-info" [tmExport]="'excel'">Export to Excel</button> </th>
                            <th>
                                <div class="row pull-left">
                                    <button [disabled]="presentPage-1 <=0" class="btn btn-default btn-rounded" (click)="search(transactionLog, page, pageSize, startDate, endDate)">Prev</button> <span>{{presentPage}}</span>
                                    <button [disabled]="(pageSize * presentPage) > entries" class="btn btn-default btn-rounded" (click)="search(transactionLog, page + 1, pageSize, startDate, endDate)">Next</button>
                                </div>
                            </th>
                            <th>{{entries}} entries found</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>