.form-horizontal span {
    margin-top: 2px;
    float: left;
    margin-left:7px;
}

.form-horizontal div input{
    height: 25px;
    max-width:50px;
    margin-left:3px;
}

.btn-app {
    margin-top: 15px;
    margin-left: 20px;
}

.btn-goto {
    margin-left: 10px;
    height: 25px;
    font-size: 11px;
}
.pull-left {
    position:absolute;
    left:80%
}
div button{
    position:absolute;
    left:3%;
}

