<div class="page-body">
    <div class="row">
        <div class="col-xs-12" style="height: 70px">
            <div class="well with-header" style="min-height: 180px;">
                <div class="header bordered-blueberry">Analysis</div>
                <div>
                    <div style="display: block">
                        <div (hover)="chartHovered" class="chartcontainer">
                            <canvas tmChart [failed]="10" [total]="59" class="doughnut" style="max-height:450px; max-width:450px"></canvas>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
