﻿h1 {
    font-size: 300%;
    color: #34495e;
}
/* tooltipAtt container */
.tooltipAtt {
    position: relative;
    /* If you want dots under the hoverable text */
}

    /* tooltipAtt text */
    .tooltipAtt .tooltipAtttext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltipAtt text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltipAtt */
        opacity: 0;
        transition: opacity 1s;
    }

        /* tooltipAtt arrow */
        .tooltipAtt .tooltipAtttext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Show the tooltipAtt text when you mouse over the tooltipAtt container */
    .tooltipAtt:hover .tooltipAtttext {
        visibility: visible;
        opacity: 1;
    }