:root {
    /* :root is a clever way of saying "the outer-most element" */
    --col-hover-width: 15%;
    /* the default */
}

@-webkit-keyframes glow {
    50% {
        box-shadow: 0 0 20px #FF0000;
    }
}

@keyframes glow {
    50% {
        box-shadow: 0 0 20px #f62f3d;
    }
}
.connected {
    /*background: #1ebfae;*/
    color: #fff;
}
.page-body .row .col-xs-6 .well div {
    margin-left: 2%;
}

.connected:hover {
    /*background: #1ebfae;*/
    color: #fff;
    opacity: 0.7;
}

.failureglow {
    -webkit-animation: 1s glow ease-in-out infinite !important;
    animation: glow 2s ease-in-out infinite !important;
    /*background-color: #d73d32 !important;*/
    color: white;
    text-transform: uppercase;
}

.failureRed {
    /*background-color: #d73d32 !important;*/
    color: white;
    text-transform: uppercase;
}

.failureglow:hover {
    -webkit-animation: 1s glow ease-in-out infinite !important;
    animation: glow 2s ease-in-out infinite !important;
    /*background-color: #d73d32 !important;*/
    color: white;
    opacity: 0.5;
    text-transform: uppercase;
}

.rounded_rectangle {
    border-radius: 15px;
    content: ' \25CF';
    height: 28px;
    margin: 5px;
    padding: 5px;
    background-color: #548282;
    /*#57b5e3;*/
    color: #fff;
    font-size: 13px;
    overflow: -moz-hidden-unscrollable;
}
    .rounded_rectangle:hover {
        opacity: 0.7;
    }

    .rounded_rectangle p {
        position: relative;
        bottom: 10px;
    }

    .rounded_rectangle ::-webkit-scrollbar {
        width: 0 !important;
    }