﻿<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Recent Transactions for {{mfbName}}</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <table class="table table-bordered">
                   <tr>
                       <th>TransId</th>
                       <th>ResponseCode</th>
                       <th>TimeStamp</th>
                       <th>Amount</th>
                   </tr>
                   <tr *ngFor="let t for lastMFBTransactions">
                       <td>{{t.Id}}</td>
                       <td>{{t.ResponseCode}}</td>
                       <td>{{t.RequestDate}}</td>
                       <td>{{t.Iso_TransAmount}}</td>
                   </tr>
               </table>
            </div>
        </div>
    </div>
</div>