﻿h1 {
    font-size: 300%;
    color: #34495e;
}


.page-body {
    background-color: #F5F3EE;
}


/*button {
    border-radius: inherit !important;
    height: 35px !important;
}*/


.col-custom {
    text-align: center;
    margin: 0 28px 0;
    padding: 0;
}

.col-custom:hover {
    max-width: 30%;
    min-width: var(--col-hover-width);
}

.well {
    overflow-x: auto
}



.navbar .navbar-inner {
    background-color: #7D1935;
}

.badge-comm-failed {
    color: #7D1935;
    font-weight: 700;
    box-shadow: 1px 2px 3px #aaa;
}

.badge-comm-total {
    color: #2B2B2B;
    font-weight: 700;
    box-shadow: 1px 2px 3px #aaa;
}

.badge_position_left {
    position: relative;
    top: 10px;
    right: 20px;
    color: #2B2B2B;
    /*#068CFF;*/
}

.badge_position_right {
    position: relative;
    top: 10px;
    left: 15px;
    background-color: indianred;
}

.tooltip {
    background-color: #222;
    color: #fff;
    display: none;
    max-width: 250px;
    padding: 7px 10px;
    position: absolute;
}

.tooltip-show {
    display: inherit;
}

.tooltip-arrow {
    height: 0;
    position: absolute;
    width: 0;
}

.tooltip-down .tooltip-arrow {
    border-bottom: 5px solid #222;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 50%;
    margin-left: -5px;
    top: -5px;
}

.form-control {
    margin-bottom: 10px;
}

.panel {
    padding: 1%;
    overflow: auto;
}

.bold-wine {
    background-color: #7D1935;
    color: #F5F3EE;
    float: right;
}

#toggleIcon {
    font-size: 24px;
    color: #7D1935;
    float: right;
    padding-left: 10px;
}

.tooltip-up .tooltip-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #222;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
}

.tooltip-right .tooltip-arrow {
    border-bottom: 5px solid transparent;
    border-right: 5px solid #222;
    border-top: 5px solid transparent;
    left: -5px;
    margin-top: -3px;
    top: 50%;
}

.tooltip-left .tooltip-arrow {
    border-bottom: 5px solid transparent;
    border-left: 5px solid #222;
    border-top: 5px solid transparent;
    margin-top: -3px;
    right: -5px;
    top: 50%;
}