:root {
    /* :root is a clever way of saying "the outer-most element" */
    --col-hover-width: 15%;
    /* the default */
}

@-webkit-keyframes glow {
    50% {
        box-shadow: 0 0 20px #FF0000;
    }
}

@keyframes glow {
    50% {
        box-shadow: 0 0 20px #f62f3d;
    }
}

.connected {
    /*background: #1ebfae;*/
    color: #fff;
}

.page-body .row .col-xs-6 .well div {
    /*margin-left: 2%;*/
}

/*.connected:hover {
    /*background: #1ebfae;
    color: #fff;
    opacity: 0.7;
}*/

.failureglow {
    -webkit-animation: 1s glow ease-in-out infinite !important;
    animation: glow 2s ease-in-out infinite !important;
    /*background-color: #d73d32 !important;*/
    color: white;
    text-transform: uppercase;
}

.failureRed {
    /*background-color: #d73d32 !important;*/
    color: white;
    text-transform: uppercase;
}

/*.failureglow:hover {
    -webkit-animation: 1s glow ease-in-out infinite !important;
    animation: glow 2s ease-in-out infinite !important;
    /*background-color: #d73d32 !important;*/
/*color: white;
    opacity: 0.5;
    text-transform: uppercase;
}*/

.rounded_rectangle {
    border-radius: 15px;
    content: ' \25CF';
    height: 28px;
    margin: 5px;
    padding: 5px;
    background-color: #548282;
    /*#57b5e3;*/
    color: #fff;
    font-size: 13px;
    overflow: -moz-hidden-unscrollable;
}
    /*.rounded_rectangle:hover {
        opacity: 0.7;
    }*/

    .rounded_rectangle p {
        position: relative;
        bottom: 10px;
    }

    .rounded_rectangle ::-webkit-scrollbar {
        width: 0 !important;
    }

/* tooltipAtt container */
.tooltipAtt {
    position: relative;
    
}

    /* tooltipAtt text */
    .tooltipAtt .tooltipAtttext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltipAtt text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltipAtt */
        opacity: 0;
        transition: opacity 1s;
    }

        /* tooltipAtt arrow */
        .tooltipAtt .tooltipAtttext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Show the tooltipAtt text when you mouse over the tooltipAtt container */
    .tooltipAtt:hover .tooltipAtttext {
        visibility: visible;
        opacity: 1;
    }

    .modal-content {
        margin-top: 10%;
    }
/*.modal-dialog {
    display: none;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal-head {
    
}  
.modal-container {
        width: 70%;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
    }

 .modal-container .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-dialog .close:hover,
.modal-dialog .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}*/
