<div class="page-body">
    <div class="row">
        <div class="col-xs-12" style="height: 70px">

            <div class="col-xs-6" *ngFor="let b of bankNames">
                <div class="well with-header">
                    <div class="header bordered-blueberry">
                        {{b}}
                        <small class="badge badge-comm-total">{{reportMap.get(b).total}}</small>&nbsp;
                        <small class="badge badge-comm-failed">{{reportMap.get(b).failed}}</small>
                    </div>
                    <div *ngFor="let t of reportMap.get(b).mfbs" class="col-lg-2 col-sm-4 col-xs-6 col-custom">
                        <small class="badge pull-left badge_position_left">{{t.Total}}</small>
                        <small class="badge pull-right badge_position_right">{{t.Failed}}</small>
                        <div class="tooltipAtt" (click)="mfbClicked(t.MFBName);lgModal.show();">
                            <div class="rounded_rectangle failureRed">
                                {{t.MFBName}}
                            </div>
                            <span class="tooltipAtttext">
                                    {{t.MFBName}}
                                </span>
                        </div>
                        <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title pull-left">Recent Transactions for {{t.MFBName}} </h4>
                                        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">

                                        <table class="table table-striped">
                                            <tr>
                                                <th>TransId</th>
                                                <th>ResponseCode</th>
                                                <th>TimeStamp</th>
                                                <th>Amount</th>
                                            </tr>
                                            <tr *ngFor="let lt of lastMFBTransactions">
                                                <td>{{lt.Id}}</td>
                                                <td>{{lt.ResponseCode}}</td>
                                                <td>{{lt.RequestDate}}</td>
                                                <td>{{lt.Iso_TransAmount}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>